body {
  background: white;
  color: black;
  font-family: Arial; }

a {
  color: blue; }
  a:hover {
    color: red; }

.clear {
  clear: both; }

#header {
  display: block;
  background-color: #eeeeee;
  color: #666666;
  padding: 10px 0px; }
  #header a {
    text-decoration: none; }
  #header li {
    display: inline;
    line-height: 2em; }
  #header #logo {
    margin-right: 40px;
    font-weight: bold;
    font-size: 2em;
    float: left; }
  #header #nav_mode {
    float: left; }
    #header #nav_mode li {
      margin-right: 20px; }
  #header #nav {
    float: right; }
    #header #nav li {
      margin-left: 20px; }

#content, #header_content {
  width: 1000px;
  margin: 0 auto; }

#content {
  margin-top: 20px; }

#users {
  width: 220px;
  float: left;
  sborder: 1px solid red; }

#gaming_area {
  width: 450px;
  float: left;
  margin: 0 20px;
  sborder: 1px solid red; }

.field table {
  background-color: #eeeeee;
  color: #666666;
  width: 100%;
  -webkit-border-radius: 0.02em;
  -moz-border-radius: 0.02em;
  border-radius: 0.02em;
  border-spacing: 0.01em; }
  .field table .field_path {
    background: #cccccc;
    color: blue; }
  .field table .field_path_start {
    background: #cccccc;
    color: red; }
  .field table td {
    vertical-align: middle;
    text-align: center; }

.field4 table td {
  font-size: 0.15em;
  width: 25%;
  -webkit-border-radius: 0.08em;
  -moz-border-radius: 0.08em;
  border-radius: 0.08em; }

#last_game {
  width: 280px;
  float: left; }
  #last_game #last_field {
    float: left; }
  #last_game #last_game_info {
    float: right;
    height: 100px;
    width: 180px;
    background-color: #eeeeee;
    color: #666666;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    #last_game #last_game_info .last_game_info_label {
      padding-left: 20px; }
  #last_game #last_field table {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #eeeeee; }
  #last_game ul#last_words {
    float: left;
    margin-top: 20px;
    text-align: justify; }
    #last_game ul#last_words li {
      float: left;
      margin: 0 5px; }
