$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$font:      Arial;
$width:     1000px;
$col1:      280px;
$col2:      400px;
$col3:      280px;


body {
    background:     $base3;
    color:          $base03;
    font-family:    $font;
}

a {
    color:      $blue;

    &:hover {
        color:  $magenta;
        sbackground: $magenta;
    }
}

.clear {
    clear: both;
}

#header {
    display:block;
    background-color:   $base2;
    color:              $base03;
    padding: 10px 0px;

    a {
        text-decoration: none;
    }

    li {
        display: inline;
        line-height: 2em;
    }

    #logo {
        margin-right: 40px;
        font-weight: bold; 
        font-size: 2em;
        float: left;
    }

    #nav_mode {
        float: left;

        li {
            margin-right: 20px;
        }
    }

    #nav {
        float: right;

        li {
            margin-left: 20px;
        }
    }


}

#content, #header_content {
    width: $width;
    margin:0 auto;
}

#content {
    margin-top: 20px;
}

#users {
    width: $col1;
    float: left;
    sborder: 1px solid red;
}

#gaming_area {
    width: $col2;
    float: left;
    margin: 0 20px;
    sborder: 1px solid red;
}

.field {
    table {
        background-color:   $base02;
        color:              $base2;
        width: 100%;

        -webkit-border-radius: 0.02em;
        -moz-border-radius: 0.02em;
        border-radius: 0.02em;
        
        border-spacing: 0.01em;

        .field_path {
            background: $green;
            color: $base02;
        }

        .field_path_start {
            background: $red;
            color: $base02;
        }

        td {
            vertical-align: middle;
            text-align: center;
        }

        
    }
}

.field4 {
    table {
        td {
            font-size: 0.15em;
            width: 25%;

            -webkit-border-radius: 0.08em;
            -moz-border-radius: 0.08em;
            border-radius: 0.08em;
        }
    }
}

#last_game {
    width: $col3;
    float: left;

    #last_field {
        float: left;
    }

    #last_game_info {
        float: right;   
        height: 100px;

        width: 180px;

        background-color:   $base02;
        color:              $base2;

        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        background: $base01;
        color: $base1;

        .last_game_info_label {
            padding-left: 20px;
        }
        
    }

    #last_field table {
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        background: $base01;
    }

    ul#last_words {
        float:left;

        margin-top: 20px;
        text-align: justify;

        li {
            float: left;
            margin: 0 5px;
        }

    }

}