$bg3:#ccc;
$bg2:#eee;
$bg1:#fff;

$fg3:#999;
$fg2:#666;
$fg1:#000;

$hi1: blue;
$hi2: red;
$hi3: green;

$font: Arial;

$width: 1000px;
$col1:  220px;
$col2:  450px;
$col3:  280px;


body {
    background:     $bg1;
    color:          $fg1;
    font-family:    $font;
}

a {
    color:      $hi1;

    &:hover {
        color:  $hi2;
    }
}

.clear {
    clear: both;
}

#header {
    display:block;
    background-color:   $bg2;
    color:              $fg2;
    padding: 10px 0px;

    a {
        text-decoration: none;
    }

    li {
        display: inline;
        line-height: 2em;
    }

    #logo {
        margin-right: 40px;
        font-weight: bold; 
        font-size: 2em;
        float: left;
    }

    #nav_mode {
        float: left;

        li {
            margin-right: 20px;
        }
    }

    #nav {
        float: right;

        li {
            margin-left: 20px;
        }
    }


}

#content, #header_content {
    width: $width;
    margin:0 auto;
}

#content {
    margin-top: 20px;
}

#users {
    width: $col1;
    float: left;
    sborder: 1px solid red;
}

#gaming_area {
    width: $col2;
    float: left;
    margin: 0 20px;
    sborder: 1px solid red;
}

.field {
    table {
        background-color:   $bg2;
        color:              $fg2;
        width: 100%;

        -webkit-border-radius: 0.02em;
        -moz-border-radius: 0.02em;
        border-radius: 0.02em;
        
        border-spacing: 0.01em;

        .field_path {
            background: $bg3;
            color: $hi1;
        }

        .field_path_start {
            background: $bg3;
            color: $hi2;
        }

        td {
            vertical-align: middle;
            text-align: center;
        }

        
    }
}

.field4 {
    table {
        td {
            font-size: 0.15em;
            width: 25%;

            -webkit-border-radius: 0.08em;
            -moz-border-radius: 0.08em;
            border-radius: 0.08em;
        }
    }
}

#last_game {
    width: $col3;
    float: left;

    #last_field {
        float: left;
    }

    #last_game_info {
        float: right;   
        height: 100px;

        width: 180px;

        background-color:   $bg2;
        color:              $fg2;

        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        .last_game_info_label {
            padding-left: 20px;
        }
        
    }

    #last_field table {
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        background: $bg2;
    }

    ul#last_words {
        float:left;

        margin-top: 20px;
        text-align: justify;

        li {
            float: left;
            margin: 0 5px;
        }

    }

}