$fields = {
    "4": {
        cellSize: 20px
    },
    "5": {
        cellSize: 20px
    }
};

.last-round {
    .panel-heading {
        p {
            margin-bottom: 5px;
        }

        table.field {
            float: right;
            margin-top: -10px;
            margin-right: -14px;

            td {
                text-align: center;
                padding: 0px;
                background-color: #fff;
                border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
            }
        }
    }

    .panel-body {
        word-spacing: 4px;
        text-align: justify;

        .word {
            text-transform: uppercase;
            padding: 1px;
        }

        .word--highlight {
            background-color: #428bca;
            color: #fff;
        }
    }
}

for $size, $data in $fields {
    .last-round table.field td {
        width: $data.cellSize;
        height: $data.cellSize;
    }

    .size-{$size} .last-round .panel-heading {
        height: (($data.cellSize + 1px) * $size) ;
    }
}