<!-- On small screens the chat won't be visible. This will display the time until the next round instead -->
<div class="visible-xs-block visible-sm-block hidden-md hidden-lg">
    <h2 class="pause-timer" ng-controller="TimerController">
        <span translate="please_wait_timer" ng-hide="getCurrentField()"></span> {{remainingTime}}
    </h2>
</div>

<div class="chat panel panel-default hidden-xs hidden-sm" ng-style="getStyle()" ng-controller="ChatController">
    <div class="panel-body chat-content"></div>
    <div class="panel-footer">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" ng-hide="isGuest()">{{getUser().name}}</span>
            <span class="input-group-addon" ng-show="isGuest()">{{'guest.name'|translate:getUser()}}</span>
            <input type="text" class="form-control chat-input" ng-keyup="onKeyUp()" id="chat-input" placeholder="{{'chat'|translate}}">
            <label for="chat-input" ng-hide="isGameOngoing()" ng-controller="TimerController">{{remainingTime}}</label>
        </div>
    </div>
</div>

<!-- This is just here for translation purposes -->
<span id="translation-guest-prefix" ng-show="false" translate="guest.prefix"></span>
