<div class="current-field" ng-show="getCurrentField()" ng-controller="CurrentFieldController">

    <div class="field-container">
        <table class="field">
            <tr ng-repeat="(y, row) in getCurrentField() track by y">
                <td ng-repeat="(x, cell) in row track by x + '.' + y" class="cell cell--{{x}}-{{y}}">{{cell.toUpperCase()}}</td>
            </tr>
        </table>

        <div class="giant-tick visible-xs visible-sm">✓</div>
        <div class="giant-cross visible-xs visible-sm">✗</div>

        <canvas></canvas>
    </div>

    <form class="input-area hidden-xs hidden-sm" ng-submit="submitWord(wordEntered)" ng-class="wordEnteredClass">
        <input type="text" class="input form-control" id="word-input" ng-model="wordEntered" ng-change="typeWord(wordEntered)" />
        <label for="word-input" ng-controller="TimerController">{{remainingTime}}</label>
    </form>
</div>

