<div class="modal fade modal--highscores" id="modal--highscore" ng-controller="HighscoreController">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" translate="highscore.title"></h4>
            </div>
            <div class="modal-body">
                <p ng-show="highscores === null" translate="highscore.loading"></p>
                
                <div class="input-group interval-select">
                    <select ng-hide="highscores === null" ng-model="interval" class="form-control">
                        <option value="1" translate="highscore.options.1day"></option>
                        <option value="7" translate="highscore.options.7days"></option>
                        <option value="30" translate="highscore.options.30days"></option>
                        <option value="60" translate="highscore.options.60days"></option>
                        <option value="90" translate="highscore.options.90days"></option>
                        <option value="180" translate="highscore.options.180days"></option>
                        <option value="365" translate="highscore.options.365days"></option>
                    </select>
                </div>
                <p ng-hide="highscores === null" translate="highscore.explanation"></p>

                <table ng-hide="highscores === null" class="table table-condensed">
                    <tr>
                        <th translate="highscore.header.position"></th>
                        <th translate="highscore.header.name"></th>
                        <th translate="highscore.header.count"></th>
                        <th translate="highscore.header.avg"></th>
                        <th translate="highscore.header.avgWords"></th>
                    </tr>
                    <tr ng-repeat="(i, result) in highscores" class="{{(result.id == getUser().id)?'info':''}}">
                        <td>{{i + 1}}</td>
                        <td>{{result.name}}</td>
                        <td>{{result.count}}</td>
                        <td>{{asPercent(result.avg)}}%</td>
                        <td>{{twoDecimals(result.avgWords)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->