<div class="col-md-3" ng-controller="LastFieldController" ng-show="getLastField()">
    <div class="panel panel-default last-round last-round--4">
        <div class="panel-heading">
            <table class="field">
                <tr ng-repeat="(y, row) in getLastField() track by y">
                    <td ng-repeat="(x, cell) in row track by x + '.' + y">{{cell.toUpperCase()}}</td>
                </tr>
            </table>

            <div>
                <p translate="last_field.last_round"></p>

                <small>
                    {{'last_field.points'|translate:getStats()}}<br />
                    {{'last_field.words'|translate:getStats()}}
                </small>
            </div>
        </div>
        <div class="panel-body">
            <span
                class="word word--length-{{word.length}}"
                ng-repeat="word in getWords()">
                {{word.word}}
            </span>
        </div>
    </div>
</div>