<div ng-controller="LastFieldController" ng-show="getLastField()">
    <div class="panel panel-default last-round">
        <div class="panel-heading">
            <table class="field">
                <tr ng-repeat="(y, row) in getLastField() track by y">
                    <td ng-repeat="(x, cell) in row track by x + '.' + y" class="cell cell--{{x}}-{{y}}">{{cell.toUpperCase()}}</td>
                </tr>
            </table>

            <div>
                <p translate="last_field.last_round"></p>

                <small>
                    {{'last_field.points'|translate:getStats()}}<br />
                    {{'last_field.words'|translate:getStats()}}
                </small>
            </div>
        </div>
        <div class="panel-body">
            <span ng-repeat="word in getWords()">
                <span
                    class="word word--length-{{word.length}} word--word-{{word.word.toLowerCase()}} {{word.timesGuessed?'word--guessed word--times-guessed-'+word.timesGuessed:'word--not-guessed'}}"
                    ng-mouseover="highlightWord(word)"
                    ng-mouseleave="dehighlightWord()"
                >{{word.word}}</span> 
            </span>
        </div>
    </div>
</div>