<div class="col-md-3">
    <div class="panel panel-default last-round last-round--4">
        <div class="panel-heading">
            <table class="field field--4">
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>E</td>
                    <td>F</td>
                    <td>G</td>
                    <td>H</td>
                </tr>
                <tr>
                    <td>I</td>
                    <td>J</td>
                    <td>K</td>
                    <td>L</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>N</td>
                    <td>O</td>
                    <td>P</td>
                </tr>
            </table>

            <div>
                <p>Last round</p>

                <small>
                    87 points <br>
                    43 words
                </small>
            </div>
        </div>
        <div class="panel-body">
            ADERNDE DUE DAUERND NUR CANNA URD NUANCE DURRA IRE DIA EIRUNDEN URE RUNDE RED NUN RUNDA URNEN RUN DUNE DAUER DAUERN DUNEN RUDERN EIRUND NUER DENN ERD ENNUI DAUNE NARDEN RUNDEN AIDE END DUR DAURE
        </div>
    </div>
</div>