<!-- Player list -->
<div class="col-md-3 col-md-pull-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            4 Players
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">53 <small>(74%)</small></span>
                marekventur
            </li>
            <li class="list-group-item">
                <span class="badge">53 <small>(74%)</small></span>
                Team Beatles
                <ul>
                    <li>
                        <span class="badge badge--transparent pull-right">53 <small>(74%)</small></span>
                        User345
                    </li>
                    <li>
                        <span class="badge badge--transparent pull-right">53 <small>(74%)</small></span>
                        User567
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <span class="badge">53 <small>(74%)</small></span>
                User123
            </li>
        </ul>
    </div>
</div>