<div class="modal fade" id="modal--rules">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" translate="rules.headline"></h4>
            </div>
            <div class="modal-body" >
                <img src="/img/rules-example.png" alt="">
                <div translate="rules.body"></div>
                <hr/>
                <h4 translate="guidelines.headline"></h4>
                <div translate="guidelines.body"></div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->