<div class="modal fade" id="modal--signup" ng-controller="SignUpController">
    <div class="modal-dialog modal-sm">
        <form role="form" class="modal-content" ng-submit="signup()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" translate="signup.title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group {{errors.username?'has-error':''}}">
                    <label for="signupUsername" translate="signup.username.label"></label>
                    <p class="text-danger" ng-show="errors.username">{{'signup.username.error.' + errors.username |translate}}</p>
                    <input type="text" class="form-control" ng-model="input.username" name="username" id="signupUsername" placeholder="{{'signup.username.placeholder'|translate}}" ng-disabled="loading">
                </div>
                <div class="form-group {{errors.email?'has-error':''}}">
                    <label for="signupEmail" translate="signup.email.label"></label>
                    <p class="text-danger" ng-show="errors.email">{{'signup.email.error.' + errors.email |translate}}</p>
                    <input type="email" class="form-control" ng-model="input.email" name="email" id="signupEmail" placeholder="{{'signup.email.placeholder'|translate}}" ng-disabled="loading">
                </div>
                <div class="form-group {{errors.password1?'has-error':''}}">
                    <label for="signupPassword1" translate="signup.password1.label"></label>
                    <p class="text-danger" ng-show="errors.password1">{{'signup.password1.error.' + errors.password1 |translate}}</p>
                    <input type="password" class="form-control" ng-model="input.password1" name="password1" id="signupPassword1" placeholder="{{'signup.password1.placeholder'|translate}}" ng-disabled="loading">
                </div>
                <div class="form-group {{errors.password2?'has-error':''}}">
                    <label for="signupPassword2" translate="signup.password2.label"></label>
                    <p class="text-danger" ng-show="errors.password2">{{'signup.password2.error.' + errors.password2 |translate}}</p>
                    <input type="password" class="form-control" ng-model="input.password2" name="password2" id="signupPassword2" placeholder="{{'signup.password2.placeholder'|translate}}" ng-disabled="loading">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="loading">
                    <span translate="signup.button.confirm" ng-hide="loading"></span>
                    <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                </button>
            </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->