<!DOCTYPE html>
<html ng-app="wortopia">
<head>
    <meta charset="UTF-8" />
    <title>Wortopia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/lib.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body ng-cloak class="size-4">
    <div class="container">

        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation" ng-controller="HeaderController">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only" translate="header.toggle_navigation"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" translate="header.title" href="/"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" translate="header.4x4"></a></li>
                    <li><a href="#" translate="header.5x5"></a></li>
                    <li><a href="#" translate="header.rules"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="isLoading()">
                        <p class="navbar-text"><i class="fa fa-spinner fa-spin"></i></p>
                    </li>
                    <li ng-hide="isLoading()">
                        <p class="navbar-text playing-as" ng-hide="isGuest()">{{'header.playing_as'|translate:getUser()}}</p>
                        <p class="navbar-text playing-as" ng-show="isGuest()">{{'header.playing_as_guest'|translate:getUser()}}</p>
                    </li>
                    <li ng-hide="isLoading() || !isGuest()" ng-show="" class="btn-group pull-right" >
                        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#modal--login" translate="header.login"></button>
                        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#modal--signup" translate="header.signup"></button>
                    </li>
                    <li ng-hide="isLoading() || isGuest()" class="btn-group pull-right">
                        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#modal--account" translate="header.account"></button>
                        <button type="button" ng-click="logout()" class="btn btn-default navbar-btn" translate="header.logout"></button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-push-3 main-area">
                <table class="field field--4">
                    <tr>
                        <td>A</td>
                        <td>B</td>
                        <td>C</td>
                        <td>D</td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>F</td>
                        <td>G</td>
                        <td>H</td>
                    </tr>
                    <tr>
                        <td>I</td>
                        <td>J</td>
                        <td>K</td>
                        <td>L</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>N</td>
                        <td>O</td>
                        <td>P</td>
                    </tr>
                </table>

                <div class="input-area">
                    <input type="text" class="input" />
                </div>
            </div>

            <div class="col-md-3 col-md-pull-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        4 Players
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">53 <small>(74%)</small></span>
                            marekventur
                        </li>
                        <li class="list-group-item">
                            <span class="badge">53 <small>(74%)</small></span>
                            Team Beatles
                            <ul>
                                <li>
                                    <span class="badge badge--transparent pull-right">53 <small>(74%)</small></span>
                                    User345
                                </li>
                                <li>
                                    <span class="badge badge--transparent pull-right">53 <small>(74%)</small></span>
                                    User567
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">53 <small>(74%)</small></span>
                            User123
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default last-round last-round--4">
                    <div class="panel-heading">
                        <table class="field field--4">
                            <tr>
                                <td>A</td>
                                <td>B</td>
                                <td>C</td>
                                <td>D</td>
                            </tr>
                            <tr>
                                <td>E</td>
                                <td>F</td>
                                <td>G</td>
                                <td>H</td>
                            </tr>
                            <tr>
                                <td>I</td>
                                <td>J</td>
                                <td>K</td>
                                <td>L</td>
                            </tr>
                            <tr>
                                <td>M</td>
                                <td>N</td>
                                <td>O</td>
                                <td>P</td>
                            </tr>
                        </table>

                        <div>
                            <p>Last round</p>

                            <small>
                                87 points <br>
                                43 words
                            </small>
                        </div>
                    </div>
                    <div class="panel-body">
                        ADERNDE DUE DAUERND NUR CANNA URD NUANCE DURRA IRE DIA EIRUNDEN URE RUNDE RED NUN RUNDA URNEN RUN DUNE DAUER DAUERN DUNEN RUDERN EIRUND NUER DENN ERD ENNUI DAUNE NARDEN RUNDEN AIDE END DUR DAURE
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Dialog: Sign up -->
        <div class="modal fade" id="modal--signup" ng-controller="SignUpController">
            <div class="modal-dialog modal-sm">
                <form role="form" class="modal-content" ng-submit="signup()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" translate="signup.title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group {{errors.username?'has-error':''}}">
                            <label for="signupUsername" translate="signup.username.label"></label>
                            <p class="text-danger" ng-show="errors.username">{{'signup.username.error.' + errors.username |translate}}</p>
                            <input type="text" class="form-control" ng-model="input.username" name="username" id="signupUsername" placeholder="{{'signup.username.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                        <div class="form-group {{errors.email?'has-error':''}}">
                            <label for="signupEmail" translate="signup.email.label"></label>
                            <p class="text-danger" ng-show="errors.email">{{'signup.email.error.' + errors.email |translate}}</p>
                            <input type="email" class="form-control" ng-model="input.email" name="email" id="signupEmail" placeholder="{{'signup.email.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                        <div class="form-group {{errors.password1?'has-error':''}}">
                            <label for="signupPassword1" translate="signup.password1.label"></label>
                            <p class="text-danger" ng-show="errors.password1">{{'signup.password1.error.' + errors.password1 |translate}}</p>
                            <input type="password" class="form-control" ng-model="input.password1" name="password1" id="signupPassword1" placeholder="{{'signup.password1.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                        <div class="form-group {{errors.password2?'has-error':''}}">
                            <label for="signupPassword2" translate="signup.password2.label"></label>
                            <p class="text-danger" ng-show="errors.password2">{{'signup.password2.error.' + errors.password2 |translate}}</p>
                            <input type="password" class="form-control" ng-model="input.password2" name="password2" id="signupPassword2" placeholder="{{'signup.password2.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="loading">
                            <span translate="signup.button.confirm" ng-hide="loading"></span>
                            <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                        </button>
                    </div>
                </form><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal Dialog: Login -->
        <div class="modal fade" id="modal--login" ng-controller="LoginController">
            <div class="modal-dialog modal-sm">
                <form role="form" class="modal-content" ng-submit="login()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" translate="login.title"></h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger" ng-show="error">{{'login.error.' + error |translate}}</p>
                        <div class="form-group {{error?'has-error':''}}">
                            <label for="loginUsername" translate="login.username.label"></label>
                            <input type="text" class="form-control" ng-model="input.username" name="username" id="loginUsername" placeholder="{{'login.username.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                        <div class="form-group {{error?'has-error':''}}">
                            <label for="loginPassword" translate="login.password.label"></label>
                            <input type="password" class="form-control" ng-model="input.password" name="password" id="loginPassword" placeholder="{{'login.password.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="loading">
                            <span translate="login.button.confirm" ng-hide="loading"></span>
                            <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                        </button>
                    </div>
                </form><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal Dialog: Account -->
        <div class="modal fade" id="modal--account" ng-controller="AccountController">
            <div class="modal-dialog modal-sm">
                <form role="form" class="modal-content" ng-submit="save()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" translate="account.title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group {{errors.name?'has-error':''}}">
                            <label for="accountName" translate="account.name.label"></label>
                            <p class="text-danger" ng-show="errors.name">{{'account.name.error.' + errors.name |translate}}</p>
                            <input type="text" class="form-control" ng-model="input.name" name="name" id="accountName" placeholder="{{'account.name.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                        <div class="form-group {{errors.team?'has-error':''}}">
                            <label for="accountTeam" translate="account.team.label"></label>
                            <p class="text-danger" ng-show="errors.team">{{'account.team.error.' + errors.team |translate}}</p>
                            <input type="text" class="form-control" ng-model="input.team" name="team" id="accountTeam" placeholder="{{'account.team.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                        <div class="form-group {{errors.email?'has-error':''}}">
                            <label for="accountEmail" translate="account.email.label"></label>
                            <p class="text-danger" ng-show="errors.email">{{'account.email.error.' + errors.email |translate}}</p>
                            <input type="email" class="form-control" ng-model="input.email" name="email" id="accountEmail" placeholder="{{'account.email.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                        <div class="form-group {{errors.password1?'has-error':''}}">
                            <label for="accountPassword1" translate="account.password1.label"></label>
                            <p class="text-danger" ng-show="errors.password1">{{'account.password1.error.' + errors.password1 |translate}}</p>
                            <input type="password" class="form-control" ng-model="input.password1" name="password1" id="accountPassword1" placeholder="{{'account.password1.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                        <div class="form-group {{errors.password1?'has-error':''}}" ng-show="input.password1">
                            <label for="accountPassword2" translate="account.password2.label"></label>
                            <p class="text-danger" ng-show="errors.password2">{{'account.password2.error.' + errors.password2 |translate}}</p>
                            <input type="password" class="form-control" ng-model="input.password2" name="password1" id="accountPassword2" placeholder="{{'account.password2.placeholder'|translate}}" ng-disabled="loading">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="loading">
                            <span translate="account.button.confirm" ng-hide="loading"></span>
                            <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                        </button>
                    </div>
                </form><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



    </div> <!-- /container -->

    <script src="/lib.js"></script>
    <script src="/all.js"></script>

    <script>initWortopia();</script>
</body>
</html>