<!DOCTYPE html>
<html ng-app="wortopia">
<head>
    <meta charset="UTF-8" />
    <title>Style - Field</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/lib.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
    <div class="container" ng-controller="StyleController">
        <h1>Field Styles</h1>
        <input ng-model="userOptions.boardScale" value="100" type="number" min="20" max="300" ng-change="persistUserOptions()">
        <div ng-repeat="fieldStyle in fieldStyles">
            <h2>{{fieldStyle}}</h2>
            <div class="row">
                <div ng-controller="FieldStyleController4" class="col-md-6 size-4 {{fieldStyle}}">
                    <div><ng-include src="'/partials/currentField.html'" /></div>
                </div>
                <div ng-controller="FieldStyleController5" class="col-md-6 size-5 {{fieldStyle}}">
                    <div><ng-include src="'/partials/currentField.html'" /></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/lib.js"></script>
    <script src="/all.js"></script>
    <script src="/partials.js"></script>
    <script>initWortopia(false);</script>
</body>
</html>